# Database
database.sqlite
database.sqlite-shm
database.sqlite-wal

# Dependências
node_modules/
frontend/node_modules/

# Build
frontend/dist/
frontend/.angular/

# Ambiente
.env

# Logs
*.log
npm-debug.log*
